{% extends 'property_tax/base.html' %}

{% block title %}View Properties - Your Website{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Enumerate Property</h2>
    <h4>Approved Enumerators Only!</h4>
    <h5>Use the form below to enumerate new property.</h5>

    <form method="post" action="{% url 'enumerate_property' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <hr>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>

    <a href="{% url 'home' %}">Go back to Home</a>
</div>
{% endblock %}
