<!-- pay_tax_with_installments.html -->
{% extends 'property_tax/base.html' %}

{% block title %}Home - Anambra Property Portal{% endblock %}

{% block content %}

{% if error_message %}

<div class="alert alert-danger" role="alert">
    {{ error_message }}
</div>
{% endif %}

<form method="POST" action="{% url 'pay_tax_with_installments' %}">
    {% csrf_token %}
    <input type="hidden" name="property_id" value="{{ property_id }}">
    <label for="installment_amount">Installment Amount to Pay (NGN):</label>
    <input type="number" id="installment_amount" name="installment_amount" min="1" step="1" required>
    <br>
    <label for="installment_number">Number of Installments:</label>
    <input type="number" id="installment_number" name="installment_number" min="1" step="1" required>
    <br>
    <label for="email">Email Address:</label>
    <input type="email" id="email" name="email" required value="ezebo001@gmail.com">
    <br>
    <button type="submit" style="background-color:green; border-color:blue; color:white">Pay with Installments</button>
</form>

{% endblock %}
